<div class="content" role="main">

  <h1>Book Penalty Calculator</h1>
    <div>
      <label>Check Out: </label>
      <input name="checkoutDate" type="text" [value]="checkoutDate | date: 'MM/dd/yyyy'" (input)="checkoutDate=$event.target.value">
    </div>
    <div>
      <label>Return: </label>
      <input name="returnDate" type="text" [value]="returnDate | date: 'MM/dd/yyyy'" (input)="returnDate=$event.target.value">
    </div>
    <div>
      <label>Country: </label>
      <select  [(ngModel)]="countryId">
        <option *ngFor="let country of countries" 
            [value]="country.ID">
          {{country.Name}}
        </option>
      </select>
    </div>
    <div>
      <button (click)="calculatePenalty()" class="btn btn-primary">Submit</button>
    </div>
    <label><b>Business Days: {{BusinessDays}}</b></label><br>
    <label><b>PenaltyDays: {{PenaltyDays}}</b></label><br>
    <label><b>Fine: {{Fine}}</b></label><br>
    <label><b>Currency: {{Currency}}</b></label><br>
    <label><b>penalizedFactor: {{penalizedFactor}}</b></label>  
</div>
<router-outlet></router-outlet>